<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Get Youtube Thumbnail</h1>
<input type="url" id="link_video" name="link_video" required>
<button onclick="get_thumbnail()">Get it now!</button>
<div>
    <img id="img" src="">
</div>
<script>
    function get_thumbnail(){
        link_video = document.getElementById('link_video').value
        video_id = link_video.split('v=')[1]
        document.getElementById("img").setAttribute("src", "https://i3.ytimg.com/vi/${video_id}/maxresdefault.jpg")
    }
</script>
</body>
</html>